$Montserrat: 'Montserrat';

$black: #707070;
$white: #fff;
$salmon: #EF9F7F;
$teal: #87C3BA;

$fontXLarge: 10rem;
$fontMedium: 3rem;
$fontDefault: 1rem;

$fontWeightBold: 600;
$fontWeightMed: 500;
$fontWeightReg: 400;
$fontWeightLight: 300;

$contentZindex: 4;