.about{
  margin-top:300px;
  .container{max-width:900px;}
  h2{color:$teal;margin-bottom:55px;}
  > h2{color:$salmon;position:absolute;left:-300px;@include vertical-text}
  &__content{@include section-margin;}
} 