.contact{
  position:relative;top:-20vh;background:$white;z-index:2;border:1px solid rgba($black,0.4);
  &__title{@include vertical-text;color:$salmon;position:absolute;left:-200px;top:300px;}
  form{
    display:grid;grid-template-columns:1fr 1fr;column-gap:20px;margin:150px 100px 150px 200px;
    input{margin-bottom:20px;border:1px solid rgba($black,0.5);padding:10px}
    textarea{grid-column:1/span 2;height:200px;border:1px solid rgba($black,0.5);padding:10px;margin-bottom:20px;resize:none}
    input[type=submit]{background:$teal;color:$white;border:none}
    }
}