.grid{
  &__line{
    position:fixed;background:rgba($white, 0.4);z-index:10;
    &--horizontal{
     height: 1px; width:100%;
      &:first-child{top:20%}
      &:nth-child(2){top:50%}
      &:nth-child(3){top:80%}
    }
    &--vertical{
      height: 100%; width:1px;
      &:nth-child(4){left:10%}
      &:nth-child(5){left:30%}
      &:nth-child(6){left:50%}
      &:nth-child(7){left:70%}
      &:nth-child(8){left:90%}
    }
  }
}

.main{z-index:15;position:relative;background:$white}

.show{display:block!important}
.hide{display:none!important}

.btn{
  &__menu{
    position:fixed;z-index:10;top:20px;right:20px;cursor:pointer;
    span{background:$salmon;width:50px;height:5px;margin-bottom:10px;display:block}
    &.btn--active{
      top:40px;right:20px;cursor:pointer;
      span{
        background:$white;width:50px;height:5px;margin-bottom:10px;display:block;
        &:first-child{transform:rotate(45deg)}
        &:nth-child(2){transform:rotate(-45deg);position:relative;top:-14px}
      }
  }
  }
}

.awssld__next{right:100px}
.awssld__prev{left:100px}
