.grid{
  &__line{
    position:fixed;background:rgba($white, 0.4);z-index:10;
    &--horizontal{
     height: 1px; width:100%;
      &:first-child{top:20%}
      &:nth-child(2){top:50%}
      &:nth-child(3){top:80%}
    }
    &--vertical{
      height: 100%; width:1px;
      &:nth-child(4){left:10%}
      &:nth-child(5){left:30%}
      &:nth-child(6){left:50%}
      &:nth-child(7){left:70%}
      &:nth-child(8){left:90%}
    }
  }
}

.main{z-index:11;position:relative}