.grid {
    &__line {
        position: fixed;
        background: rgba($white, 0.4);
        z-index: 10;
        &--horizontal {
            height: 1px;
            width: 100%;
            &:first-child {
                top: 20%;
            }
            &:nth-child(2) {
                top: 50%;
            }
            &:nth-child(3) {
                top: 80%;
            }
        }
        &--vertical {
            height: 100%;
            width: 1px;
            &:nth-child(4) {
                left: 10%;
            }
            &:nth-child(5) {
                left: 30%;
            }
            &:nth-child(6) {
                left: 50%;
            }
            &:nth-child(7) {
                left: 70%;
            }
            &:nth-child(8) {
                left: 90%;
            }
        }
    }
}

.btn {
    &__menu {
        position: fixed;
        z-index: 25;
        top: 20px;
        right: 20px;
        cursor: pointer;
        height: 50px;
        span {
            background: $salmon;
            width: 50px;
            height: 5px;
            margin-bottom: 10px;
            display: block;
        }
        &.btn--active {
            top: 20px;
            right: 20px;
            cursor: pointer;
            padding-top: 20px;
            span {
                background: $white;
                width: 50px;
                height: 5px;
                margin-bottom: 10px;
                display: block;
                &:first-child {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    transform: rotate(-45deg);
                    position: relative;
                    top: -14px;
                }
            }
        }
    }
}

.main {
    z-index: 15;
    position: relative;
    background: $white;
}

.preloader {
    @include center-content;
    height: 100vh;
    &__branding {
        max-width: 100px;
        height: 100px;
        display: block;
        .svg--a,
        .svg--y,
        .svg--title {
            fill: $teal;
        }
    }
    &__svg {
        max-width:70px;margin:0 auto;display:block;
    }
    &--c1{
      fill:$teal;
    }
    &--c2{
      fill:$teal;
    }
    &--c3{
      fill:$teal;
    }
}

img{max-width:100%}


.show {
    display: block !important;
}
.hide {
    display: none !important;
}
