.latestprojects{
  h3{text-align:center;margin-bottom:100px;}
  .latestprojectgrid{
    display:grid;grid-template-columns:repeat(2, 1fr);column-gap:20px;
    &__singleproject{
      min-height:50vh;@include center-content;color:$white;
      h4{font-size:$fontDefault * 5}
    }
  }
}
  