.latestprojects {
    h3 {
        text-align: center;
        @include section-margin;
    }
    .latestprojectgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        &__singleproject {
            min-height: 50vh;
            @include center-content;
            color: $white;
            h4 {
                font-size: $fontDefault * 5;
                @include md {
                    font-size: $fontDefault * 3;
                }
                @include sm {
                    font-size: $fontDefault * 2;
                }
            }
            @include md {
                min-height:25vh;
                margin-top: 20px;
            }
        }
        @include md {
            grid-template-columns: 1fr;
        }
    }
}
